body {
    font-size: 20px;
    color: #212529;
    font-family: 'Nanum Gothic', Helvetica, Arial, sans-serif;
}


  
p, li {
    line-height: 1;
    margin: 1% 0; 
}


label {
    line-height: 1;
    margin: 1% 0; 
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nanum Gothic', Helvetica, Arial, sans-serif;
}

h1 {
    color: #e63946;
}

h2 {
    color: #457b9d;
}



a {
   color: #457b9d;
}

/*Logo styling in heading*/

.logo-img {
max-width: 105px;
margin-right: 0.3em;
margin-top: 0.2em;
height: auto;
}

/*  transition for grow feature */
.grow {
    transition: all .2s ease-in-out; 
}

.grow:hover {
    transform: scale(1.1); 
}

  

/* position of nav bar buttons */
.btn-light {
margin-right: 2px;
}

/* These columns control the unit boxes and index pages per each level */
.column-level {
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    width:48%; margin:0 auto;
    margin-bottom: 20px;
    background: #f1faee;
  }

  .column-level-wide {
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    width:80%; margin:0 auto;
    margin-bottom: 20px;
    background: #f1faee;
  }

  .column-level a{
      text-decoration: none;

  }
  
  .column-level a:hover {
    color: #e63946;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .unit-container {
    padding: 1em;
}

  .column-level h2 {
    text-decoration: none;
    color: #457b9d;
  }

  .column-level h2:hover {
    color: #e63946;
    text-decoration: none;
}

.column-level-wide a{
    text-decoration: none;
}

.column-level-wide a{
    text-decoration: none;

}

.column-level-wide a:hover {
  color: #e63946;
}

.column-level-wide h2 {
    text-decoration: none;
    color: #457b9d;
  }

  .column-level-wide h2:hover {
    color: #e63946;
    text-decoration: none;
}



/* This controls the grammar box*/
.grammar-container {
    text-align: center;
    padding: 1em;
}

.grammar-box {
    text-align: center;
    vertical-align: middle;
    margin:10px auto;
    display: inline-block;
}

.grammar-box-content {
    vertical-align: middle;
    margin:10px auto;
    background-color: #f1faee;
    display: inline-block;
    padding-right: 1%;
    padding-top: 1%;
}

.grammar-box-content li {
    text-align: left;
}

.grammar-box-translation {
    text-align: center;
    vertical-align: middle;
    margin:10px auto;
}

.grammar-box-translation li {
    text-align: left;
    list-style-type: square;
}

.grammar-box-translation-L2 {
    text-align: center;
    vertical-align: middle;
    margin:10px auto;
}

.grammar-box-translation-L2 li {
    list-style-type: square;    
}

.grammar-box-example {
    vertical-align: middle;
    margin:10px auto;
    display: inline-block;
    text-align: left;
}

.grammar-box-table {
    text-align: center;
    vertical-align: middle;
    margin:10px auto;
}

/*controls table in Level 4*/
table.causative-verb {
border: 1px solid black;
text-align: center;
    
}

/* This is for the irregular tables */
table.irregular-verb {
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    align-content: center;
     
 }
 
 .irregular-verb tr {
    border: 1px solid black;
 }
 
 .irregular-verb th{
    border: 1px solid black;
    padding: 10px;
   text-align: left;
     background-color: #f4fff6;
 }
 
 .irregular-verb td {
   border: 1px solid black;
   padding: 10px;
   text-align: left;
 }

 /* This is for the number tables */
table.number-verb {
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    align-content: center;
 }
 
 .number-verb tr {
    border: 1px solid black;
    text-align: center;
 }
 
 .number-verb th{
    border: 1px solid black;
    padding: 10px;
   text-align: center;
     background-color: #f4fff6;
 }
 
 .number-verb td {
   border: 1px solid black;
   padding: 10px;
   text-align: center;
 }

/* This controls the grammar point */
.span-word {
    color: #457b9d;
    font-weight: normal;
}

.span {
    font-weight:normal;
}

/* These control the navigational arrows */

.previous-box {
    font-size: 100%;
    font-style: italic;
    text-align: left;
    color: white;
}
.previous-arrow a {
      font-style: normal;
      text-decoration: none;
      display: inline-block;
      padding: 15px 20px;
      background-color: black;
      color: white;
      opacity: 0.7;
}
.next-box {
          font-size: 100%;
          font-style: italic;
          text-align: right;
          color: black;
}
.next-arrow a {
        font-style: normal;
        text-decoration: none;
        display: inline-block;
        padding: 15px 20px;
        background-color: black;
        color: white;
        opacity: 0.7;
}

/* This is for the scroll button */
#topBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; 
    outline: none; 
    background-color: black;
    color: white;
    opacity: 0.4;
    cursor: pointer; 
    padding: 10px;
    border-radius: 25%; 
}

#topBtn:hover {
    background-color: #555; 
}

/* This is for the page header */
.page-heading {
    text-align: center;
    font-size: 100%;
    margin-top: 0;
    line-height: 1.1;
    display: block;
    font-family: 'Nanum Gothic', Helvetica, Arial, sans-serif;;
}

/* Text decoration return bar*/
.return-level {
    padding: 1%;
}

.return-level a {
    text-decoration: none;
}
.return-level a:link {
    color: Black;
}

/* This controls the exam/test box*/
.quiz-box {
    text-align: center;
    vertical-align: middle;
    margin:10px auto;
}

/*This controls the exam/test larger reading passages */
.quiz-passage {
    text-align: left;
    border: dashed #1d3557;
    
}
 
.quiz-passage p {
    line-height: 1.5;
}


/*This controls the answer box */
.quiz-answers{
    text-align: left;
}
.quiz-title {
    text-align: left;
}

.quiz-title p {
    line-height: 1.5;
}

/* This controls the location of the tex/exam score after pressing submit */
.quizScore {
    text-align: center;
    vertical-align: middle;
    margin:10px auto;
}

/*This controls the location of the incorrect answers after pressing submit*/
.quizAnswers {
    text-align: center;
    vertical-align: middle;
    margin:10px auto;
}

/* This controls the return level in the footer*/
.return-level a:hover {
    color: #1d3557;
}

/* nav bar button colour override */

.btn-light:hover, .btn-light:focus {
    color: #fff;
    background-color: #a8dadc;
    border-color: #a8dadc; 
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
    color: #fff;
    background-color: #a8dadc;
    border-color: #a8dadc; 
}

.btn-light a {
    text-decoration: none;
}


/* dropdown colour */
.dropdown-item:hover {
    color: #fff;
    background-color: #a8dadc;
    border-color: #a8dadc; 
}




 
 .causative-verb tr {
    border: 1px solid black;
 }
 
 .causative-verb th{
    border: 1px solid black;
    padding: 10px;
   text-align: left;
     background-color: #f4fff6;
 }
 
 .causative-verb td {
   border: 1px solid black;
   padding: 10px;
   text-align: left;
 }

 /*controls class used for quiz underline*/
.underline {
    text-decoration-line: underline;
    color: #e63946;
}

/* controls the location of the question directions */
.questionDir {
    text-align: center;
    vertical-align: middle;
    margin:10px auto;
    color: #457b9d;
}


/* This controls the submit box for the exam/test*/
.submitter {
    text-align: center;
    vertical-align: middle;
    margin:10px auto;
    height: 20%;
}

.quizSubmit {
    background-color: #a8dadc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    border-radius: 10px;
}

.quizSubmit {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.quizSubmit:hover {
    background-color: #e63946;
    color: white;
}

.revealAnswer {
    align-self: center;
    text-align: center;
    vertical-align: middle;
}



/*This controls the colors of the answer button on the quiz */

.btn-answer {
    color: white;
    background-image: none;
    border-color: #e63946;
    background-color: #e63946;
  }
  
  .btn-answer:hover, .btn-answer:focus {
    color: #fff;
    background-color: #e63946;
    border-color: #e63946;
    box-shadow: 0 0 0 0.2rem rgba(230, 57, 70, 0.5);
  }
  
  
  .btn-answer.disabled, .btn-answer:disabled {
    color: #e63946;
    background-color: transparent;
  }
  
  .btn-answer:not(:disabled):not(.disabled):active, .btn-answer:not(:disabled):not(.disabled).active,
  .show > .btn-answer.dropdown-toggle {
    color: #fff;
    background-color: #e63946;
    border-color: #e63946;
  }
  
  .btn-answer:not(:disabled):not(.disabled):active:focus, .btn-answer:not(:disabled):not(.disabled).active:focus,
  .show > .btn-answer.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 57, 70, 0.5);
  }


  /*This controls the position of the grammar quiz*/
  .grammar-quiz {
    align-self: center;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 1%;
  }

  /*This controls the buttons in the grammar quiz */
.sv_next_btn {
    color: white;
    background-image: none;
    border-color: #e63946;
    background-color: #e63946;
    border: none;
    padding: 1%;
}

.sv_prev_btn {
    color: white;
    background-image: none;
    border-color: #e63946;
    background-color: #e63946;
    border: none;
    padding: 1%;
}

.sv_complete_btn {
    color: white;
    background-image: none;
    border-color: #e63946;
    background-color: #e63946;
    border: none;
    padding: 1%;
}

/*This controls the refresh button for the quiz */

.refresh {
    align-self: center;
    text-align: center;
    vertical-align: middle;
    padding: 1%;
    margin: 1%;
}
.refreshbtn {
    background-color: #1d3557;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 125%;
    border-radius: 5px;
    margin-top: 1px;
}
.refreshbtn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.refreshbtn:hover {
    background-color: #a8dadc;
    color: white;
    text-decoration: none;
}

.refreshbtn {
    align-self: center;
    text-align: center;
    vertical-align: middle;
}

.refreshbtn a{
    color: white;
    text-decoration: none;
}

.refreshbtn a:hover{
    color: white;
    text-decoration: none;
}

/* These control the quiz progress bar */

.sv_progress {
    padding-bottom: 1%;
}

.sv_progress_bar {
    background-color: #457b9d;
    color: white;
    
}

/*This controls the quiz body */
.sv_body {
    border: solid #1d3557;
    padding: 1%;
}

.sv_q_title {
    font-weight: bold;
    color: #457b9d;
}

/* Resources page */
.resources-box {
    border-radius: 25px;
    padding: 1%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin:0 auto;
    margin-bottom: 20px;
    background: #f1faee;
}

.resources-box a{
    text-decoration: none;
    color: #457b9d;
}

.resources-box a:hover {
    color:#e63946;
}

.resources-box a:focus {
    color:#e63946
}

.resources-box li {
    list-style: none;
    text-align: center;
    color: #457b9d;
}

.resources-box ul {
    padding: 0;
}

.resources-box h2 {
    font-style: italic;
}

.resources-box h4 {
    color: #e63946;
}


.img {
    width: 70%;
    height: 70%;
    padding: 1px;
    border: dashed #1d3557;
}

/* This is for the FAQ on the about page */
.FAQ {
    text-align: center;
    vertical-align: middle;
    
    
}

.FAQ h3 {
    color: #e63946;
}

.FAQ h4{
    color: white;
    font-size: 120%;
}

.FAQ li{
    color: #e63946;
    text-align: left;
}


.FAQ li a {
    color: #e63946;
    text-decoration: none;
}

.FAQ p {
    line-height: 1.5;
}

.FAQ p a {
    color: #e63946;
    text-decoration: none;
}

.FAQ a:hover {
    color: #457b9d;
}

.faq-box {
   border-bottom: dotted;;
   border-color: #457b9d;
   margin: 0.2em;
   padding: 2px;
   width: 100%; 
}

.FAQ h6 {
    color: #457b9d;
    font-style: italic;
}

.examtable {
border: 1px solid black;
text-align: center;
}

.examtable td  {
    border: 1px solid black;
    text-align: center;
    }

.ebook-text h3 {
    color: #457b9d
}

.ebook-text a {
    color: #e63946;
}


/* This is for the images on the speaking test page */

.img-speak {
    width: 80%;
    height: 80%;
    padding: 1px;
    border: dashed #e63946;

}

.img-row {
    text-align: center;
    vertical-align: middle;
    margin-left: 20%;
}

/* for the pop up*/
#ac-wrapper {
    position: fixed;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/pop-bg.png") repeat top left transparent;
    z-index: 1001;
}

#popup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: solid #e63946;
    border-radius: 18px;
    padding: 1%;
    margin: 5% auto;
    position: relative;
}

#popup a {
    color: #e63946;
}

input[type=submit] {
    padding:5px 15px; 
    background: #f1faee;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: #457b9d;
}

/*For the sentbe container */
.sentbe-container {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin:0 auto;
    margin-bottom: 20px;
}

.sentbe-container img {
    max-width: 20em;
}

.sentbe-container img:hover {
    cursor: pointer;
}

.sentbe-container-tiny {
    margin-bottom: 20px;
}

.sentbe-container-tiny img {
    max-width: 350px;
}

@media screen and (max-width: 600px) {
    div.sentbe-container {
      display: none;
    }
}

@media screen and (min-width: 601px) {
    div.sentbe-container-tiny {
      display: none;
    }
}