
  #quiz h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  
  #quiz button {
    margin: 8px 0px 0px 8px;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    background-color: #a8dadc;
    border: none;
    color: white;
    
  }
  
  #quiz button:hover {
    background-color: #e63946;
    color: #FFF;
  }
  
  #quiz button:disabled {
    opacity: 0.5;
    cursor: default;
  }

  #quiz button:disabled:hover {
    background-color: #a8dadc;
  }
  
  #question {
    padding: 15px;
    margin: 2px;
    background: #FAFAFA;
    text-align: center;
  }
  
  #question h2 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
  }
  
  #question input[type=radio] {
    display: none;
  }
  
  #question label {
    display: inline-block;
    margin: 4px;
    padding: 8px;
    background: #a8dadc;
    color: white;
    width: calc(50% - 8px);
    min-width: 50px;
    cursor: pointer;
  }
  
  #question label:hover {
    background: #1d3557;
  }
  
  #question input[type=radio]:checked + label {
    background: #e63946;
    color: #FAFAFA;
  }
  
  #quiz-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0px;
    background: #FAFAFA;
    width: 100%;
  }
  
  #quiz-results-message {
    display: block;
    color: #457b9d;
    font-size: 20px;
    font-weight: bold;
  }
  
  #quiz-results-score {
    display: block;
    color: #457b9d;
    font-size: 20px;
  }
  
  #quiz-results-score b {
    color: #457b9d;
    font-weight: 600;
    font-size: 20px;
  }



